<div class='row'>
    <div class='col-md-3'>
        <%= image_tag("/assets/logo.jpg",  alt: "Logo", class: "nav-image") %>
        <ul>
            <%= link_to('Home', root_path, class: 'nav-link') %>
            <li onclick="location.href='followers-list.php'">Lists</li>
            <li onclick="location.href='profile.php'">Profile</li>
            <li onclick=location.href='admin-page.php'>Admin page</li>
            <%= check_login %>
        </ul>
    </div>


    <div class='col-md-6 page-borders'>
        <div class='col-md-2 header color'>
           <h1>Home</h1>
        </div>
        <hr class='line'>
        <div class='col-md-6'>
        </div>
    </div>

    <div class='col-md-3 color'>
        <h1>Who to follow</h1>

    </div>
</div>