// Place all the styles related to the feeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.color{
    color: #66ccff;
}

// Navigation Menu
ul{
    padding: none !important;
    padding: 0;
    list-style-type: none;
}

.nav-image{
    width: 30px;
    height: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.nav-link{
    font-size: 18px;
    color: white;
    background-color: #66ccff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 20px;
    transition: 0.5s;
}
.nav-link:hover{
    background-color: white;
    color: #66ccff;
    transition: 0.5s;
}
.header{
    margin-bottom: 10px;
}
.header-container{
    border-bottom: solid silver 0.5px;
    padding: 10px;
}

// Section Page

.page-borders{
    border-right: solid silver 0.5px;
    border-left: solid silver 0.5px;
    height: 100vh;
}
.no-padding{
    padding: 0 !important;
}

h1{
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 30px !important;
    text-align: center;
}

.feed{
    border: 0.5px silver solid !important;
    background-color: white !important;
    border-radius: 20px;
    min-height: 200px;
    position: relative;
    width: 90%;
}
.tweet-time{
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}
.tweet-image{
    float: left;
    margin-top: 10px;
}
.avatar-image{
    width: 60px;
    height: 60px;
    border-radius: 60px;
}
.tweet-username{
    margin-left: 10px;
    float: left;
    margin-top: 20px;
    font-size: 20px;
}
.tweet-text{
    float: left;
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    min-height: 20px;
}
.links{
    position: absolute;
    bottom: 10px;
    left: 10px;
    text-decoration: none;
}
.buttons{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.buttons>a:hover, .links:hover{
    text-decoration: none;
}
.height-input{
    height: 120px !important;
}
.float-right{
    float: right;
}
.feed-image{
    width: 100%;
    margin-bottom: 40px;
}
// People 

.user-profiles{
    background-color: #66ccff;
    padding: 20px;
    border-radius: 20px;
    color: white;
    margin-bottom: 20px;
}
.margin{
    margin-top: 20px;
}

.people-image{
    width: 50px;
    height: 50px;
    border-radius: 60px;
    margin-bottom: 10px;
}

// Feed input
.feed-avatar{
    height: 80px !important;
    width: 80px !important;
    border-radius: 60px;
    float: left;
    margin-right: 10px;
}
.text-input{
    resize: none;
    height: 80px;
    border: none;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.feed-input{
    height: 150px !important;
}
.no-display{
    display: none;
}

.fileUpload {
    position: relative;
    overflow: hidden;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.float-right{
    float: right;
    margin-right: 10px;
}
.feed-margin{
    margin-left: 10px;
}

// Profile
.edit-bio{
    resize: none;
    height: 80px;
    width: 100%;
    border-radius: 5px;
}
.profile-avatar{
    height: 100px;
    width: 100px;
    border-radius: 60px;
    margin-left: 40%;
}