<h1>Who to follow</h1>
<% @users = User.all %>
<% @users.each do |user| %>
    <div class="container user-profiles text-center">
        <%= image_tag("/assets/" +  user.avatar + ".png",  alt: "Logo", class: "people-image") %><br>
        <%= user.username %><br/>
    </div>
<% end %>
